<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Odontologia - Modelo</title>
		<link rel="icon" type="image/png" href="./assets/media/favicon.ico" />
      <link href="./assets/css/custom-font-awesome.css" rel="stylesheet" />
		<link href="./assets/css/style-main.css" rel="stylesheet" />
   </head>

   <body>
      <header class="height-1">
         <div class="flexbox header-flex">
            <div class="header-left">
               <img draggable="false"
                  src="./assets/media/logo_odonto_topo.png"/>
            </div>
            <div class="header-right">
               <div class="icon-menu-mob">
                  <i class="fa fa-bars" aria-hidden="true"></i>
               </div>
               <!--sm-icons-->

               <nav class="menu-desktop">
                  <ul>
                     <li><a href="#">Início</a></li>
                     <li><a href="#anch-sobre">Sobre nós</a></li>
                     <li><a href="#anch-servicos">Serviços</a></li>
                     <li><a href="#anch-equipe">Equipe</a></li>
                     <li><a href="#anch-blog">Blog</a></li>
                     <li><a href="#anch-contato">Contato</a></li>
                  </ul>
               </nav>

               <nav class="menu-mobile">
                  <ul>
                     <li><a href="#">Início</a></li>
                     <li><a href="#anch-sobre">Sobre nós</a></li>
                     <li><a href="#anch-servicos">Serviços</a></li>
                     <li><a href="#anch-equipe">Equipe</a></li>
                     <li><a href="#anch-blog">Blog</a></li>
                     <li><a href="#anch-contato">Contato</a></li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>

      <div class="fix-header"></div>

      <div class="carousel" draggable="false">
         <div class="carousel-container carousel-desktop" draggable="false">
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slide01.webp"
               />
            </div>
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slide02.webp"
               />
            </div>
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slide03.webp"
               />
            </div>
         </div>

         <div class="carousel-container carousel-mobile">
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slidemob_01.webp"
               />
            </div>
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slidemob_02.webp"
               />
            </div>
            <div class="slide-single" draggable="false">
               <img
                  class="image-carousel"
                  draggable="false"
                  src="assets/media/slidemob_03.webp"
               />
            </div>
         </div>

         <div class="carousel-bullets">
            <!--JS-->
         </div>

         <i
            class="fa fa-chevron-left arrows"
            aria-hidden="true"
            id="navprev"
         ></i>
         <i
            class="fa fa-chevron-right arrows"
            aria-hidden="true"
            id="navnext"
         ></i>

         <anchor id="anch-sobre"></anchor>
      </div>

      <section class="sobre">
         <div class="container">
            <h1>Sobre nós</h1>
            <div class="box-sobre flexbox">
               <div class="sobre-left">
                  <div class="img-sobre">
                     <img src="./assets/media/sobre.jpg" />
                  </div>
               </div>
               <div class="sobre-right">
                  <div class="text-sobre">
                     <h2>Clínica <span>Lorem Ipsum</span></h2>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                     </p>
                     <p>
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <anchor id="anch-servicos"></anchor>
      </section>

      <section class="servicos">
         <div class="container">
            <h1>Serviços</h1>
            <div class="box-servicos flexbox">
               <div class="servicos-single">
                  <img src="assets/media/serv01.png" />
                  <h2>Tratamentos</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna
                     aliqua.
                  </p>
               </div>
               <div class="servicos-single">
                  <img src="assets/media/serv02.png" />
                  <h2>Clareamento</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna
                     aliqua.
                  </p>
               </div>
               <div class="servicos-single">
                  <img src="assets/media/serv03.png" />
                  <h2>Ortodontia</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna
                     aliqua.
                  </p>
               </div>
               <div class="servicos-single">
                  <img src="assets/media/serv04.png" />
                  <h2>Implantes</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna
                     aliqua.
                  </p>
               </div>
            </div>
         </div>
         <anchor id="anch-equipe"></anchor>
      </section>

      <section class="equipe">
         <div class="container">
            <h1>Equipe</h1>
            <div class="box-equipe flexbox">
               <div class="equipe-single">
                  <div class="thumb-equipe">
                     <img src="./assets/media/equipe01.webp" />
                     <div class="espec-equipe">
                        <p>Especialidades</p>
                        <ul>
                           <li>Consectetur</li>
                           <li>Adipiscing</li>
                           <li>Incididunt</li>
                        </ul>
                     </div>
                  </div>
                  <h2>Dra. Lorema Ipsum</h2>
                  <p>CRO: 000/00</p>
               </div>
               <div class="equipe-single">
                  <div class="thumb-equipe">
                     <img src="./assets/media/equipe02.webp" />
                     <div class="espec-equipe">
                        <p>Especialidades</p>
                        <ul>
                           <li>Consectetur</li>
                           <li>Adipiscing</li>
                           <li>Incididunt</li>
                        </ul>
                     </div>
                  </div>
                  <h2>Dr. Lorem Ipsum</h2>
                  <p>CRO: 000/00</p>
               </div>
               <div class="equipe-single">
                  <div class="thumb-equipe">
                     <img src="./assets/media/equipe03.webp" />
                     <div class="espec-equipe">
                        <p>Especialidades</p>
                        <ul>
                           <li>Consectetur</li>
                           <li>Adipiscing</li>
                           <li>Incididunt</li>
                        </ul>
                     </div>
                  </div>
                  <h2>Dra. Lorema Ipsum</h2>
                  <p>CRO: 000/00</p>
               </div>
            </div>
         </div>
         <anchor id="anch-blog"></anchor>
      </section>

      <section class="blog">
         <div class="container">
            <h1><a target="_blank" href="/blog" >Visite nosso blog</a></h1>
            <div class="box-blog flexbox">
					<% if (posts) { %>

						<div class="artigo">
							<div class="artigo-img">
								<img src=<%=posts[0].img%> alt="" />
							</div>
							<div class="artigo-text">
								<h2><%=posts[0].titulo%></h2>
								<p class="art-date"><%=posts[0].data%></p>
								<p><%=posts[0].resumo%></p>
								<a target="_blank" href="/blog/post/<%=posts[0].slug%>">Leia mais...</a>
							</div>
						</div>

						<div class="artigo">
							<div class="artigo-img">
								<img src=<%=posts[1].img%> alt="" />
							</div>
							<div class="artigo-text">
								<h2><%=posts[1].titulo%></h2>
								<p class="art-date"><%=posts[1].data%></p>
								<p><%=posts[1].resumo%></p>
								<a target="_blank" href="/blog/post/<%=posts[1].slug%>">Leia mais...</a>
							</div>
						</div>

						<div class="artigo">
							<div class="artigo-img">
								<img src=<%=posts[2].img%> alt="" />
							</div>
							<div class="artigo-text">
								<h2><%=posts[2].titulo%></h2>
								<p class="art-date"><%=posts[2].data%></p>
								<p><%=posts[2].resumo%></p>
								<a target="_blank" href="/blog/post/<%=posts[2].slug%>">Leia mais...</a>
							</div>
						</div>
						
					<% } else { %>
						<h2>Não há nenhuma postagem para exibir.</h2>
					<% } %>
            </div>
         </div>
			<anchor id="anch-contato"></anchor>
      </section>

		<section class="contato">
			<div class="container">
				<h1>Agende sua consulta</h1>
				<h2>Entre em contato por telefone, Whatsapp, ou pelo formulário abaixo.</h2>
				<div class="box-contato flexbox">
					<div class="contato-left">
						<h2>Clínica Lorem Ipsum.</h2>
						<p>Sit duis ipsum magna anim proident ex laborum fugiat irure elit tempor duis ipsum aute. Adipisicing est quis anim quis non reprehenderit.</p>
						<p>ENDEREÇO:<br/>
						Rua Lorem Ipsum, nº 999. Silor Domor.<br/>
						Fugiat-MA. CEP: 99.999-999</p>
						<p><i class="fa fa-phone" aria-hidden="true"></i>Telefone: (99)3333-3333</p>
						<p><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp: (99)99999-9999</p>
						<p><i class="fa fa-facebook" aria-hidden="true"></i><a target="_blank" title="Nossa página no Facebook" href="https://facebook.com">Facebook</a></p>
						<p><i class="fa fa-instagram" aria-hidden="true"></i><a target="_blank" title="Nosso perfil no Instagram" href="https://instagram.com">Instagram</a></p>
					</div>

					<div class="contato-right">
						<h2>Envie uma mensagem...</h2>
						<form id="form" method="POST" action="/mail">
							<%- include('./blog/includes/csrf') %>
							<input class="form nome" type="text" name="nome" placeholder="Seu nome..." required />
							<input class="form email" type="email" name="email" placeholder="Seu e-mail..." required />
							<input class="form tel" id="fone" type="tel" maxlength="14" minlength="13" name="telefone" placeholder="Telefone p/ contato..." />
							<select required class="form sel-conv" name="convenio">
								<option value="" selected>Convênio ou particular?</option>
								<option value="Particular">Particular</option>
								<option value="Convenio1">Convênio 1</option>
								<option value="Convenio2">Convênio 2</option>
								<option value="Convenio3">Convênio 3</option>
								<option value="Convenio4">Convênio 4</option>
							</select>
							<textarea class="form msg" name="mensagem" placeholder="Sua mensagem..." required ></textarea>
							<anchor id="anch-mail-sended"></anchor>
							<div class="alert-submit">
								<%- include('./blog/includes/messages') %>
							</div>

							<input type="submit" value="Enviar" id="send" />
						</form>
					</div>
				</div>
			</div>
		</section><!--contato-->

      <footer class="footer">
         <span class="footer">
            <p>
               Modelo desenvolvido por: Henrique, L. Imagens:
               <a target="_blank" href="https://br.freepik.com"
                  >br.freepik.com</a
               >; Ícones de
               <a target="_blank" href="https://fontawesome.com">FontAwesome</a>
               e
               <a target="_blank" href="https://www.flaticon.com">FlatIcons</a>
            </p>
         </span>
      </footer>

		<!--fixed-whatsapp-->
		<div class="atend-ws">
			<a target="_blank" href="https://api.whatsapp.com/send?phone=559999999999"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
		</div>

      <script src="./assets/js/bundle.js"></script>
   </body>
</html>
