<%- include('../includes/head') %>
<%- include('../includes/header') %>

<section class="show-posts">
	<div class="container">
		<h2>Postagens por categoria</h2>
		<%- include('../includes/messages') %>
		<a href="/blog"><button class="btn btn-back">Voltar</button></a>
		<div class="flexbox">
			
			<div class="posts-outer">
				<h2><%=categName%></h2>

				<% if (posts.length > 0) { %>
					<% posts.forEach(post => { %>
						<div class="post-single">
							<h3><a href="/blog/post/<%=post.slug%>"><%=post.titulo%></a></h3>
							<br>
							<small>Categoria: <%=categName%></small>
							<br>
							<small>Data: <%=post.data%></small>
							<br>
							<div class="post-box">
								<div class="post-img">
									<img src="<%=post.img%>">
								</div>
								<div class="post-text">
									<p><%=post.resumo%> [...]</p>
									<p><a class="read-more" href="/blog/post/<%=post.slug%>"> Leia mais</a></p>
								</div>
							</div>
						</div>
					<% }) %>
				<% } else {%>
					<h4>Nenhuma postagem nessa categoria.</h4>
				<% } %>
			</div>

			<%- include('../includes/sidebar') %>
		
		</div><!--flexbox-->
		
	</div>
</section>

<%- include('../includes/footer') %>